.backgroundOne {
  position: absolute;
  right: 0px;
  top: -22px;
  background-image: url("../../assets/image/bg-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 500px;
}
.backgroundTwo {
  position: absolute;
  top: 300px;
  background-image: url("../../assets/image/bg-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 380px;
}
